<!-- <h1>Order placed Successfully</h1> -->
<h5>Your order ID: {{orderId}}</h5>

<div class="col-6" *ngIf="order$ | async as order">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Oreder summary</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let i of order.items">
                    {{i.quantity}} x {{i.product.title}}
                    <div class="float-right">
                        {{i.totalPrice | currency:'USD'}}
                    </div>
                </li>
                <!-- <li class="list-group-item font-weight-bold">
                    Total
                    <div class="float-right">
                        {{cart.totalPrice | currency:'USD'}}
                    </div>
                </li> -->
            </ul>
        </div>
    </div>

</div>